<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>573214925541-vnuvpqfprgh2bdpqvlg203o7c1oe2as4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.573214925541-vnuvpqfprgh2bdpqvlg203o7c1oe2as4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>573214925541-gnab8o4ulr4u335igk8ptoofcvccre8f.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyApoAwBttjS4lbY8oY3wPCs8v_p1AH0DE4</string>
	<key>GCM_SENDER_ID</key>
	<string>573214925541</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.grocery</string>
	<key>PROJECT_ID</key>
	<string>grocery-fb62a</string>
	<key>STORAGE_BUCKET</key>
	<string>grocery-fb62a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:573214925541:ios:8ff7b7b07f1e78448aea0c</string>
</dict>
</plist>